h1,h3,h4{
    color: khaki;
}

.container{
    width: 100%;
}

.search {
    position: relative;
    margin-bottom: 5%;
}

.card:hover{
    border-color: khaki;
    background-color: khaki;
}

.fa-search{
    color: khaki;
}